@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  * {
    @apply m-0 p-0 box-border;
  }

  html {
    @apply font-sans;
  }

  ::-webkit-scrollbar {
    @apply hidden;
  }
}

#card-0 .card-inner {
  @apply bg-[#FFDBE8];
}

#card-1 .card-inner {
  @apply bg-[#BADD7F];
}

#card-2 .card-inner {
  @apply bg-[#FFEBAE];
}

#card-3 .card-inner {
  @apply bg-[#A7B5FE];
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-animation {
  animation: blink 1s infinite;
}
