@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  * {
    @apply m-0 p-0 box-border;
  }

  html {
    @apply font-sans;
  }

  ::-webkit-scrollbar {
    @apply hidden;
  }
}

#card-0 .card-inner {
  @apply bg-[#ffbed6] text-[#4B0018];
}

#card-1 .card-inner {
  @apply bg-[#FFE5B4] text-[#805300];
}

#card-2 .card-inner {
  @apply bg-[#D4E8D4] text-[#2D5A2D];
}

#card-3 .card-inner {
  @apply bg-[#E2D1F9] text-[#3A1B6B];
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-animation {
  animation: blink 1s infinite;
}
